$Orange-Primary: #e87a14;
$Black: #000;
$White-Colour: #fff;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Poppins", "sans-serif";
}

body {
  height: 100vh;
  background-color: rgb(228, 228, 228);
  padding: auto;
}
// .main {
//   position: relative;
//   padding: 0 2rem;
// }
// NAV DESIGN
.class-container {
  width: 100%;
  height: 6rem;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .links {
    display: flex;
    gap: 2rem;
  }
  .btn-container {
    display: flex;
    gap: 2.5rem;
    align-items: center;
  }
  .logo {
    color: #000;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  li {
    list-style-type: none;
    a {
      text-decoration: none;
      color: $Black;
      font-family: Poppins;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transition: all 0.3s ease;
    }
    a:hover {
      color: $Orange-Primary;
    }
  }
  .login {
    text-decoration: none;
    color: $Black;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .login:hover {
    color: $Orange-Primary;
  }

  .btn {
    padding: 1.5rem 3rem;
    text-decoration: none;
    background-color: $Orange-Primary;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 1.57rem;
    transition: all 0.3s ease;
    a {
      color: $White-Colour;
      text-decoration: none;
    }
  }
  .btn:hover {
    transform: scale(0.9);
  }
}

// HOME DESIGN
.body-container {
  // width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  gap: 12rem;
  align-items: center;
  //justify-content: space-between;
  //margin-right: 10rem;
  width: 98.4375rem;
  height: 49rem;
  // flex-shrink: 0;
  div {
    h3 {
      color: rgba(68, 195, 235, 0.8);
      font-family: Poppins;
      font-size: 1.875rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
    }
    p {
      margin-top: 2rem;
      color: $Black;
      font-family: Poppins;
      font-size: 3rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0.3rem;
    }
    button {
      width: 12.0625rem;
      height: 4.75rem;
      flex-shrink: 0;
      border-radius: 1.25rem;
      border: none;
      margin-top: 3rem;
      background: $Orange-Primary;
      color: $White-Colour;
      font-size: 1.5rem;
      font-weight: 500;
      transition: all 0.3s ease;
    }

    button:hover {
      transform: scale(0.9);
    }
  }
  .home-img {
    width: 39.1875rem;
    height: 48.91863rem;
    flex-shrink: 0;
    margin-top: 5rem;
  }
}

//SIGN UP PAGE DESIGNS
